@page "/alter"


@namespace Person


<PageTitle>Alter</PageTitle>

<h1>Berechnung des Alters</h1> 


<EditForm Model="@person" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <table class="table">
        <thead>
                <tr>
                    <th>Name</th>
                    <th>Geburtsdatum</th>
                    <th>Aktion</th>
                    <th>Alter</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <InputText id="Name" @bind-Value="person.name"></InputText>
                    </td>
                    <td>
                        <InputDate id="Geboren" @bind-Value="person.geboren"></InputDate>  
                    </td>
                    <td>
                        <button class="btn btn-primary" type="submit">Berechnen</button>
                    </td>
                    <td>
                        @ergalter
                    </td>
                </tr> 
            </tbody>
    </table>

    
</EditForm>


@code{

    private Person person= new Person(); 
    private int ergalter= 0;
  
        
    protected override void OnInitialized()
    {
        base.OnInitialized();
    }


    private void HandleValidSubmit()
    {
        ergalter= person.jahrealt();        
    } 

    private void HandleInvalidSubmit()
    {
        ergalter= 0;
    } 
       
 
} 


