@page "/alter"


@namespace Person


<PageTitle>Alter</PageTitle>

<h1>Brechnung des Alters</h1> 


<EditForm Model="@person" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <table class="table">
        <thead>
                <tr>
                    <th>Name</th>
                    <th>Geburtsdatum</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <InputText id="Name" @bind-Value="person.name"></InputText>
                    </td>
                    <td>
                        <InputDate id="Geboren" @bind-Value="person.geboren"></InputDate>  
                    </td>
                </tr> 
            </tbody>
    </table>

    
    <button class="btn btn-primary" type="submit" @onclick="berechnen">Berechnen</button>
    <button class="btn btn-primary" type="reset">Reset</button>

    <p role="status">Alter: @person.jahrealt()</p>

</EditForm>


@code{

    private Person person= new Person(); 
        
    protected override void OnInitialized()
    {
        //private Person person= new Person();
        //person= new Person();
        base.OnInitialized();
    }


    private void HandleValidSubmit()
    {
        //
    } 

       
    private void berechnen()
    {
        //
    } 

} 


